[libdefaults]
  default_realm = {{ domain_name | upper }}
{% if krb_provider == 'Heimdal' %}
  # Heimdal - Don't try to resolve the hostnames passed in through DNS to speed up the tests
  name_canon_rules = as-is:realm={{ domain_name | upper }}
{% endif %}

[realms]
  {{ domain_name | upper }} = {
    kdc = {{ groups['win_controller'][0] | lower }}.{{ domain_name | lower }}
    admin_server = {{ groups['win_controller'][0] | lower }}.{{ domain_name | lower }}
  }

[domain_realm]
  {{ domain_name | lower }} = {{ domain_name | upper }}
  .{{ domain_name | lower }} = {{ domain_name | upper }}
