black
cython
gssapi>=1.5.0 ; sys_platform != 'win32'
k5test ; sys_platform != 'win32'
krb5 ; sys_platform != 'win32'
isort
mypy
pre-commit
pytest
pytest-cov
pytest-mock
pywin32 ; sys_platform == 'win32'
ruamel.yaml
types-cryptography
types-dataclasses ; python_version < "3.7"
