black==22.10.0
gssapi>=1.5.0 ; sys_platform != 'win32'
k5test ; sys_platform != 'win32'
krb5 ; sys_platform != 'win32'
isort==5.10.1
mypy==0.982
pre-commit
pytest
pytest-cov
pytest-mock
pywin32 ; sys_platform == 'win32'
ruamel.yaml
types-cryptography
