name: Test pyspnego
on:
  push:
    branches:
    - main
    paths-ignore:
    - CHANGELOG.md
    - LICENSE
    - README.md

  pull_request:
    branches:
    - main
    paths-ignore:
    - CHANGELOG.md
    - LICENSE
    - README.md

  release:
    types:
    - published

  schedule:
  - cron: 0 9 * * *

jobs:
  build:
    name: build sdist and universal wheel
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: build sdist and universal wheel
      run: |
        python -m pip install build
        python -m build

    - uses: actions/upload-artifact@v4
      with:
        name: artifact
        path: ./dist/*

  test:
    name: test
    needs:
    - build

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macOS-12
        - macOS-latest
        - windows-latest
        python-version:
        - 3.8
        - 3.9
        - '3.10'
        - '3.11'
        - '3.12'
        python-arch:
        - x86
        - x64
        gssapi-provider:
        - mit
        - heimdal
        - sspi

        exclude:
        - os: ubuntu-latest
          python-arch: x86
        - os: ubuntu-latest
          gssapi-provider: sspi

        - os: macOS-12
          python-arch: x86
        - os: macOS-12
          gssapi-provider: mit
        - os: macOS-12
          gssapi-provider: sspi

        - os: macOS-latest
          python-arch: x86
        - os: macOS-latest
          python-version: 3.8
        - os: macOS-latest
          python-version: 3.9
        - os: macOS-latest
          gssapi-provider: mit
        - os: macOS-latest
          gssapi-provider: sspi

        - os: windows-latest
          gssapi-provider: mit
        - os: windows-latest
          gssapi-provider: heimdal

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.python-arch }}

    - uses: actions/download-artifact@v4
      with:
        name: artifact
        path: ./dist

    - name: Extract OS name
      shell: bash
      run: |
        NAME=$( echo '${{ matrix.os }}' | tr '-' ' ' | awk '{print $1}' )
        echo "${NAME}"
        echo "name=${NAME}" >> "${GITHUB_OUTPUT}"
      id: os

    - name: Test
      shell: bash
      run: |
        if [ "$(expr substr $(uname -s) 1 5)" == "MINGW" ]; then
            build_helpers/run-ci.sh
        else
            sudo -E build_helpers/run-ci.sh
        fi
      env:
        GSSAPI_PROVIDER: ${{ matrix.gssapi-provider }}
        PYTEST_ADDOPTS: --color=yes

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Unit Test Results (${{ matrix.os }} ${{ matrix.python-version }} ${{ matrix.python-arch }} ${{ matrix.gssapi-provider }})
        path: ./junit/test-results.xml

    - name: Upload Coverage Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Coverage Results (${{ matrix.os }} ${{ matrix.python-version }} ${{ matrix.python-arch }} ${{ matrix.gssapi-provider }})
        path: ./coverage.xml

    - name: Upload Coverage to codecov
      if: always()
      uses: codecov/codecov-action@v4
      with:
        files: ./coverage.xml
        flags: ${{ steps.os.outputs.name }},py${{ matrix.python-version }},${{ matrix.python-arch }},${{ matrix.gssapi-provider }}
        token: ${{ secrets.CODECOV_TOKEN }}

  publish:
    name: publish
    needs:
    - test
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: artifact
        path: ./dist

    - name: Publish package to PyPI
      if: startsWith(github.event.release.tag_name, 'v')
      uses: pypa/gh-action-pypi-publish@release/v1
